.header{
    margin: auto;
    margin-bottom: 20px;

    background-color: grey;

    width: 100%;
    min-height: 100px;
    max-height: 200px;
    height: auto;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}

.header-logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo-image{
    width: 100px;
    height: auto;
}

.header-info{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header-username{

}

.account{
    display: flex;
    gap: 10px;
}
